/target
/.settings
/.project
/.classpath
/.idea
/*.log
hh-B2.iml
src/main/java/edu/avans/hartigehap/domain/WebOrderItem.java
src/main/resources/datasource-tx-jpa.xml
src/main/resources/datasource-tx-jpa.xml
src/main/resources/datasource-tx-jpa.xml
src/main/resources/datasource-tx-jpa.xml

src/main/resources/datasource-tx-jpa.xml

src/main/resources/datasource-tx-jpa.xml

src/main/resources/datasource-tx-jpa.xml
